{% extends "pages/default" %}
{% import '_utilities/teaser' as article %}
{% set articleQuery = craft.entries.section('article').limit(3) %}
{% paginate articleQuery as pageInfo, articles %}

{% block title %}
  {% if pageInfo.getPrevUrl() or pageInfo.getNextUrl() %}
  , Page {{ pageInfo.currentPage }} of {{ pageInfo.totalPages }}
  {% endif %}
{% endblock %}

{% block landing %}
  <section class="container mx-auto mb-6 px-2 divide-y divide-slate-300">
    {% for article in articles %}
      {{ article.teaser(article) }}
    {% endfor %}

    {% include '_partials/pagination' with { pageInfo: pageInfo } %}
  </section>
{% endblock %}
